body {
  background: #08bfec !important;
}

.wrapper {
  margin-top: 40px;
}

.form-signin {
 padding: 10px 20px;
  margin: 0 auto;
  background-color: #fff;
}

.form-input-heading {
    font-size: 1.3em;
    font-weight: bold;
}

.form-control {
    font-size: 1.3em;
    font-weight: lighter;
    padding: 20px;
}

.error {
    margin: 10px;
    font-size: 1.1em;
    color: red;
    display: none;
}

.error-password, .error-email {
    color: red;
}

